#dropdownMenuButton{
    color: white;
}
body{
 
}
#mainDiv{
    padding:20px;
}
#professionalPic{
    display:block;
    margin:auto;
    width: 100%;
    padding-bottom: 10px;
}
@media (min-width: 576px) { 
    #professionalPic{
        display:block;
        margin:auto;
        width: 100%;
        padding-bottom: 10px;
    }
    #mainDiv{
        margin: auto;
        width: 70%;
    }
 }

@media (min-width: 768px) { 
    #professionalPic{
        display:block;
        margin:auto;
        width: 100%;
        padding-bottom: 10px;
    }
    #mainDiv{
        margin: auto;
        width: 70%;
    }
 }

@media (min-width: 992px) {
    #professionalPic{
        display:block;
        margin:auto;
        width: 100%;
        padding-bottom: 10px;
    }
    #mainDiv{
        margin: auto;
        width: 59%;
    }
 }

@media (min-width: 1200px) { 
    #professionalPic{
        display:block;
        margin:auto;
        width: 100%;
        padding-bottom: 10px;
    }
    #mainDiv{
        margin: auto;
        width: 38%;
    }
 }

@media (min-width: 1400px) { 
    #professionalPic{
        display:block;
        margin:auto;
        width: 100%;
        padding-bottom: 10px;
    }
    #mainDiv{
        margin: auto;
        width: 38%;
    }
 }

a:hover{
    cursor: pointer;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #006400 !important;
}
