@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body {
    font-family: 'Alegreya', serif !important;
}

#particles-js {
    z-index:-10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}

#mainDiv {
    padding: 20px;
    background-color: white;
}

#professionalPic {
    display: block;
    margin: auto;
    width: 100%;
    padding-bottom: 10px;
}

@media (min-width: 576px) {
    #professionalPic {
        display: block;
        margin: auto;
        width: 100%;
        padding-bottom: 10px;
    }

    #mainDiv {
        margin: auto;
        width: 70%;
    }
}

@media (min-width: 768px) {
    #professionalPic {
        display: block;
        margin: auto;
        width: 100%;
        padding-bottom: 10px;
    }

    #mainDiv {
        margin: auto;
        width: 70%;
    }
}

@media (min-width: 992px) {
    #professionalPic {
        display: block;
        margin: auto;
        width: 100%;
        padding-bottom: 10px;
    }

    #mainDiv {
        margin: auto;
        width: 59%;
    }
}

@media (min-width: 1200px) {
    #professionalPic {
        display: block;
        margin: auto;
        width: 100%;
        padding-bottom: 10px;
    }

    #mainDiv {
        margin: auto;
        width: 50%;
    }
}

@media (min-width: 1400px) {
    #professionalPic {
        display: block;
        margin: auto;
        width: 100%;
        padding-bottom: 10px;
    }

    #mainDiv {
        margin: auto;
        width: 50%;
    }
}

a:hover {
    cursor: pointer;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #006400 !important;
}